@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot');
    src: url('Georgia.eot?#iefix') format('embedded-opentype'),
        url('Georgia.woff') format('woff'),
        url('Georgia.svg#Georgia') format('svg');
}